.mainContainer {
  display: flex;
  flex-direction: column;

  gap: 68px;
  /* padding: 64px 0 128px 0; */
}

.headerText {
  text-align: center;
  display: grid;
  gap: 16px;
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 32px;
}

.projectCards {
  width: 100%;
  height: 600px;
  max-width: 576px;
  border-radius: 12px;
}

.image > img {
  border-radius: 12px 12px 0 0;
  max-height: 263px;
  aspect-ratio: 1/1;
}

.cardTextContainer {
  padding: 36px;
  display: grid;
  gap: 4px;
  background: #0d1e26;
  border-radius: 0 0 12px 12px;
}

@media (max-width: 1200px) {
  .projectsContainer {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
