.imageContainer {
  width: 100%;
  max-width: 382px;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-1);
  border-radius: 12px;
}

.imageContainer > img {
  position: relative;
  top: -40px;
  z-index: 1;
}

.imageContainer::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: -15px;
  height: 60px;
  width: 90px;
  background-color: var(--main-blue);
  border-radius: 12px;
  z-index: -1;
  box-shadow: -2px 0px 20px 0px #52a9ffba;
}

.imageContainer::after {
  content: '';
  position: absolute;
  top: -15px;
  right: -15px;
  height: 60px;
  width: 90px;
  background-color: var(--main-blue);
  border-radius: 12px;
  z-index: -1;
  box-shadow: -2px 0px 20px 0px #52a9ffba;
}

@media (max-width: 428px) {
  .imageContainer::before {
    height: 60px;
    width: 60px;
  }
}
