.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  position: sticky;
  top: 0;
  z-index: 100000;
  background-color: var(--bg-color-1);
}

.logo {
  font-size: 18px;
}

.links {
  display: flex;
  gap: 32px;
}
