:root {
  /* Variables */
  --bg-color-1: #060f13;
  --bg-color-2: #0d1e26;
  --color-1: #f4f1d2;
  --color-2: #a9c5f1;
  --main-blue: #015aff;
}

[data-theme='light'] {
  --bg-color-1: #eae7d7;
  --bg-color-2: #eae7d7;
  --color-1: #060f13;
  --color-2: #3f51b5;
  --main-blue: #5c8ef2;
}
